/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureEmoji {
  font-size: 4rem;
  margin-bottom: 1rem;
  display: block;
}
